# Ignoring the virtual environment
.venv/

# Ignoring Python caching
__pycache__/

# Ignoring environment variable file
.env

# Ignoring SQL initialization folder
init.sql/

# Ignoring setup files
backend/pitchpulse_backend.egg-info/